.btn_menu {
    text-align: center;
    border-radius: 18px;
    padding: 40px 0;
    width: 150px;
    background-color: #f5f5f5;
}

.btn_menu:hover{
    background: #428bca;
    color: white;
}

.nav-my {
    background-color: white;
    margin: 0px;
}