<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}

    <title>DHR 工作桌面</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'assets/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{% static 'assets/js/ie8-responsive-file-warning.js' %}"></script><![endif]-->
    <script src="{% static 'assets/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'assets/js/html5shiv.min.js' %}"></script>
      <script src="{% static 'assets/js/respond.min.js' %}"></script>
    <![endif]-->


</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DHR</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></a></li>
            <li class="active"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 工作空间</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> 我的自助</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> 数据分析</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 系统设置</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 关于我们</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> 帮助</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Lucy</a></li><li><a href="#">
            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span></a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control mr-sm-2" placeholder="Search...">
            <button class="btn btn-outline-success btn-primary" type="submit">搜索</button>
<!--            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>-->
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'dhr' %}">工作桌面<span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'org' %}">组织管理</a></li>
            <li><a href="{% url 'emp' %}">员工管理</a></li>
            <li><a href="{% url 'job' %}">异动管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'time' %}">考勤管理</a></li>
            <li><a href="{% url 'leave' %}">休假管理</a></li>
            <li><a href="{% url 'overtime' %}">加班管理</a></li>
            <li><a href="{% url 'trip' %}">出差管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'benefit' %}">社保福利</a></li>
            <li><a href="{% url 'payroll' %}">薪酬管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'recruitment' %}">招聘管理</a></li>
            <li><a href="{% url 'training' %}">培训管理</a></li>
            <li><a href="{% url 'performance' %}">绩效管理</a></li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <h4 class="page-header">概览：宏达科技集团 2019年7月</span> </h4>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>总人数</h4>
              <span class="text-muted">截止今天最新人数</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>人员结构</h4>
              <span class="text-muted">最新人员结构</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>入离职数</h4>
              <span class="text-muted">本月入职离职人数</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>薪资发放进度</h4>
              <span class="text-muted">截止上月薪资发放进度</span>
            </div>
          </div>

<!--          <h4 class="sub-header">任务：最新（10）/ 已办（120）/ 过期（3）/ 转出（2）</h4>-->
          <h4 class="sub-header">
            任务：
            <a class="btn-menu" href="#">最新<span class="badge">43</span></a> /
            <a class="btn-menu" href="#">已办<span class="badge">120</span></a> /
            <a class="btn-menu" href="#">办结<span class="badge">215</span></a>
          </h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>发起日期</th>
                  <th>发起人</th>
                  <th>代办事项</th>
                  <th>状态</th>
                  <th>到期时间</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>121</td>
                  <td>2019-7-1</td>
                  <td>Lorem</td>
                  <td>市场部 张学美的入职申请</td>
                  <td>审批中</td>
                  <td>2019-7-30</td>
                </tr>
                <tr>
                  <td>122</td>
                  <td>2019-6-15</td>
                  <td>Franck</td>
                  <td>研发部 彭凯的调岗申请</td>
                  <td>审批中</td>
                  <td>2019-7-30</td>
                </tr>
                <tr>
                  <td>123</td>
                  <td>2019-7-4</td>
                  <td>Jecyka</td>
                  <td>销售部 王楠的离职申请</td>
                  <td>审批中</td>
                  <td>2019-7-30</td>
                </tr>
                <tr>
                  <td>124</td>
                  <td>2019-7-24</td>
                  <td>Mack</td>
                  <td>研发部 催晓婧的调薪申请</td>
                  <td>审批中</td>
                  <td>2019-7-30</td>
                </tr>
                <tr>
                  <td>125</td>
                  <td>2019-7-17</td>
                  <td>Jecyka</td>
                  <td>市场部 马明宇的休假申请</td>
                  <td>审批中</td>
                  <td>2019-7-30</td>
                </tr>
                <tr>
                  <td>126</td>
                  <td>2019-7-23</td>
                  <td>Jecyka</td>
                  <td>运维部 张章的调休申请</td>
                  <td>审批中</td>
                  <td>2019-7-30</td>
                </tr>
              </tbody>
            </table>

            <nav aria-label="...">
              <ul class="pagination navbar-right">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
              </ul>
            </nav>

          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<!--    <script src="../../assets/js/vendor/holder.min.js"></script>-->
    <script src="{% static 'assets/js/vendor/holder.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
    <script src="{% static 'assets/js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>

</html>