{% extends 'base.html' %}

{% block questions %}
    <!-- 提问内容 -->
    <div class="row blog-panel">
      <ul class="col-md-12 col-xs-12">
        {% for qst in questions %}
        <li>
            <div class="blog-post">
                <h5 class="blog-post-title"><span>{{ qst.owner.username }}</span>问：<span> {{ qst.title }} </span></h5>
                <p><span> {{ qst.content }} </span></p>
                <div class="col-md-offset-11 col-md-2 col-xs-offset-11 col-xs-2">
                    <a href="question/{{ qst.id }}/thumbs-up"><span class="glyphicon glyphicon-thumbs-up"></span>{{ qst.thumbs_up }}</a>&nbsp
                    <a href="#"><span class="glyphicon glyphicon-new-window"></span></a>&nbsp
                    <a href="#"><span class="glyphicon glyphicon-comment" data-toggle="modal" data-target="#myModal" onclick="Values('{{ qst.id }}')" ></span></a>&nbsp
                </div>
            </div>
        </li>
        {% endfor %}
      </ul>
    </div>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        您的回答是
                    </h4>
                </div>
                <form class="form-horizontal" role="answer_form" action="answer/" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" name="dateId" id="id" value="" />
                        </div>
                        <div class="form-group">
                            {% load myfunc %}

                            {{ answer_form.content|label_with_classes:'col-md-2 contal-label' }}
                            <div class="col-md-10">
                            {{ answer_form.content }}
                            {{ answer_form.question }}
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="submit" class="btn btn-primary">
                            提交
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 传递参数到模态框 -->
    <script type="text/javascript">
       $(function(){
            $('#myModal').modal("hide");
       });
       function Values(ID){
       <!--  给回答表单的问题标签付值，并且隐藏问题标签  -->
             $('#id_question').val(ID);
             document.getElementById('id_question').style.visibility='hidden';
       }
    </script>

    <!-- 分页栏 -->
    <nav>
        <ul class="pager">
        {% if page_obj %}
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">上一页</a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">下一页</a></li>
            {% endif %}
        {% endif %}
        </ul>
    </nav>

{% endblock %}