<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <div class="head">
        <h1>{{ name }}</h1>
        <h2>您好，来自{{ ip }} 的朋友，我们提供PDF压缩服务。</h2>
        <p>您只需要三个步骤，就可以完成PDF文档压缩：</p>
        <ul>
            <li>上传文件</li>
            <li>点击压缩</li>
            <li>点击下载</li>
        </ul>
    </div>
    <div class="upload">
        <p>Setp1: 请选择您需要压缩的文件</p>
        <form enctype="multipart/form-data" action="/" method="post">
            {% csrf_token %}
            <input type="file" name="file" />
            <input type="submit" value="上传"/>
        </form>
    </div>
    <div class="compression">
        {% if state == 1 and error == 0 %}
        <p>Setp2: 已上传成功，请选择需要压缩的文件</p>
        <form enctype="multipart/form-data" action="/Compression/" method="post">
            {% csrf_token %}
            {% for file in filelist %}
                <input type="radio" name="filename" value="{{ file }}">{{ file }}<br>
            {% endfor %}
            <input type="submit" name="compress" value="压缩"/>
            <input type="submit" name="delete" value="删除"/>
            <p>Setp3: 选择压缩后文件，点击下载</p>
            <input type="submit" name="download" value="下载"/>
        </form>
        {% endif %}
    </div>

    <div class="inf">
        <h2> {{ inf }} </h2>
    </div>
</body>
</html>